#a1{
    font-size: 25px;
}
#hil{
    background-color: rgba(255, 0, 0, 0.661);
    text-decoration: none;
}

hr{
    height: 5px;
    background-color: black;
}
.im1{
    height: 120px;
    filter: grayscale(100%);
}
.im1:hover{
    filter: grayscale(0);
    transition: all 0.5s;
    transform: rotate(360deg);
    
}
#dm{
    font-size: 20px;
    color: black;
}
#dm:hover{
    color: #0088cc;
}
.conus{
    margin-bottom: 35px;
}

#redmark{
    background-color: red;
}