.up1{
    height: 350px;
    width: 350px;
}
.up1:hover{
    transform: rotateX(360deg) 0.5s;
    
}
#upiid{
    margin-bottom: 20px;
    color: black;
}
#usddt{
    color: black;
}
#upiids{
    margin-bottom: 20px;
    color: black;
    display: flex;
    background-color: aquamarine;
}
.cry #upiid{
    color: black;
}
.cry #upiid:hover{
    color:aquamarine;
    transition: all 0.5s;
}
