.content{
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    width:80%;
    justify-content: center;
    margin-left: 10%;
    height:fit-content;
    box-shadow: 0px 0px 10px cyan,
    0px 0px 20px cyan,0px 0px 30px cyan,0px 0px 40px cyan ,0px 0px 50px cyan;
    
}
body{
    height: 1000px;
}